﻿@model SitefinityWebApp.Mvc.ViewModels.ContentBannerViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Modules.Libraries;

@{
    bool TitleExist = !string.IsNullOrWhiteSpace(Model.Title);
    bool ThemeTitleExist = !string.IsNullOrWhiteSpace(Model.ThemeTitle);
    bool cssClassExist = !string.IsNullOrWhiteSpace(Model.CssClass);
    string cssClass = cssClassExist ? Model.CssClass : string.Empty;
}

@if (TitleExist || ThemeTitleExist)
{
    <h1 class="hero-heading animated-text @cssClass">
        @if (TitleExist)
        {
            <span class="text-white hero-heading-top-wrp" @Html.InlineEditingFieldAttributes("Title", "ShortText")><span class="hero-heading-top">@Model.Title </span></span>
        }
        @if (ThemeTitleExist)
        {
            <span class="text-primary" @Html.InlineEditingFieldAttributes("ThemeTitle", "ShortText")>@Model.ThemeTitle</span>
        }
    </h1>
}