﻿@model SitefinityWebApp.Mvc.ViewModels.ContentBannerViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Modules.Libraries;

@{
    bool TitleExist = !string.IsNullOrWhiteSpace(Model.Title);
    bool ThemeTitleExist = !string.IsNullOrWhiteSpace(Model.ThemeTitle);
    bool LeadingTitleExist = !string.IsNullOrWhiteSpace(Model.LeadingTitle);
    bool cssClassExist = !string.IsNullOrWhiteSpace(Model.CssClass);
    string cssClass = cssClassExist ? Model.CssClass : string.Empty;
}

@if (TitleExist || ThemeTitleExist || LeadingTitleExist)
{
    <div class="@cssClass">
        @if (LeadingTitleExist)
        {
            <h2 class="text-primary" @Html.InlineEditingFieldAttributes("LeadingTitle", "ShortText")>@Model.LeadingTitle</h2>
        }
        @if (TitleExist)
        {
            <h1 class='text-uppercase text-bold @((LeadingTitleExist || ThemeTitleExist) ? "text-secondry" : "text-primary") @(Model.MakeTitleSmaller == "true" ? "h2" : string.Empty)' @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Title</h1>
        }
        @if (ThemeTitleExist)
        {
            <h2 class="text-primary text-italic" @Html.InlineEditingFieldAttributes("ThemeTitle", "ShortText")>@Model.ThemeTitle</h2>
        }
    </div>
}


