﻿@model SitefinityWebApp.Mvc.ViewModels.ContentBannerViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Modules.Libraries;

@{
    bool themeImageExist = Model.Image != null;
    bool videoExist = Model.Video != null;
    var backgroundImage = "";
    bool cssClassExist = !string.IsNullOrWhiteSpace(Model.CssClass);
    string cssClass = cssClassExist ? Model.CssClass : string.Empty;
}

@if (videoExist || themeImageExist)
{
    <div class="jumbotron no-padding main-jumbotron scaledown @cssClass" @Html.InlineEditingAttributes(null, "Telerik.Sitefinity.Pages.Model.PageDraftControl", System.Guid.Empty)>
        @if (videoExist && Model.UseBackgroundVideo == "true")
        {
            <video autoplay="" muted="" playsinline="" loop="" poster="@backgroundImage">
                <source src="@MediaContentExtensions.ResolveMediaUrl(Model.Video)" type="video/mp4" />
            </video>
        }
        else
        {
            <img class="img-fluid img-full" src="@MediaContentExtensions.ResolveMediaUrl(Model.Image)" />
        }
    </div>
}