﻿@model SitefinityWebApp.Mvc.ViewModels.ContentBannerViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Modules.Libraries;

@{
    bool TitleExist = !string.IsNullOrWhiteSpace(Model.Title);
    bool ThemeTitleExist = !string.IsNullOrWhiteSpace(Model.ThemeTitle);
    bool SummaryExist = !string.IsNullOrWhiteSpace(Model.Summary);
    bool DescriptionExist = !string.IsNullOrWhiteSpace(Model.Description);
    bool cssClassExist = !string.IsNullOrWhiteSpace(Model.CssClass);
    bool btnNameExist = !string.IsNullOrWhiteSpace(Model.BtnName);
    bool btnUrlExist = !string.IsNullOrWhiteSpace(Model.BtnUrl);
    bool bgColorExist = !string.IsNullOrWhiteSpace(Model.BackgroundColor);
    string cssClass = cssClassExist ? Model.CssClass : string.Empty;
    bool themeImageExist = Model.Image != null;
    bool leftPartExist = TitleExist || ThemeTitleExist || SummaryExist || DescriptionExist || (btnNameExist && btnUrlExist);
    string bgColorStyle = bgColorExist ? $"style=background-color:{Model.BackgroundColor};" : string.Empty;
}

@if (leftPartExist || themeImageExist)
{
    <div class='@cssClass @((bgColorExist && !themeImageExist) ? "p-5" : string.Empty)' @bgColorStyle>
        <div class="row">
            <div class='@((themeImageExist) ? "col-md m-nr-30": "col-12")'>
                <div class="@(themeImageExist ? "p-5 parent-height" : string.Empty)">
                    @if (TitleExist)
                    {
                        <h2 class="text-uppercase text-secondry text-bold" @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Title</h2>
                    }
                    @if (ThemeTitleExist || SummaryExist)
                    {
                        <p class='fs-inherit @(DescriptionExist ? "mb-0" : string.Empty)'>
                            <span @Html.InlineEditingFieldAttributes("ThemeTitle", "ShortText") class='text-bold text-primary @(!SummaryExist ? "mr-1 d-inline-block" : string.Empty) @(TitleExist ? "h3" : "bigger-para")'>@Model.ThemeTitle</span>
                            @if (SummaryExist)
                            {
                                <span class='@(!ThemeTitleExist ? "d-inline-block" : string.Empty)' @Html.InlineEditingFieldAttributes("Summary", "ShortText")>@Html.HtmlSanitize(Model.Summary)</span>
                            }
                        </p>
                    }
                    @if (DescriptionExist)
                    {
                        <div class="fs-inherit" @Html.InlineEditingFieldAttributes("Description", "LongText")>@Html.HtmlSanitize(Model.Description)</div>
                    }
                    @if (btnNameExist && btnUrlExist)
                    {
                        <a class="btn btn-secondry text-uppercase text-bold" href="@Model.BtnUrl">@Model.BtnName</a>
                    }
                </div>
            </div>
            @if (themeImageExist)
            {
                <div class='col-md'>
                    <img class="img-full" src="@MediaContentExtensions.ResolveMediaUrl(Model.Image)">
                </div>
            }
        </div>
    </div>
}