﻿@model SitefinityWebApp.Mvc.ViewModels.ContentBannerViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Modules.Libraries;

@{
    bool TitleExist = !string.IsNullOrWhiteSpace(Model.Title);
    bool ThemeTitleExist = !string.IsNullOrWhiteSpace(Model.ThemeTitle);
    bool SummaryExist = !string.IsNullOrWhiteSpace(Model.Summary);
    bool DescriptionExist = !string.IsNullOrWhiteSpace(Model.Description);
    bool cssClassExist = !string.IsNullOrWhiteSpace(Model.CssClass);
    bool btnNameExist = !string.IsNullOrWhiteSpace(Model.BtnName);
    bool btnUrlExist = !string.IsNullOrWhiteSpace(Model.BtnUrl);
    bool bgColorExist = !string.IsNullOrWhiteSpace(Model.BackgroundColor);
    string cssClass = cssClassExist ? Model.CssClass : string.Empty;
    bool themeImageExist = Model.Image != null;
    bool videoExist = Model.Video != null;
    bool videoUrlExist = (!string.IsNullOrWhiteSpace(Model.VideoUrl) && Model.UseVideoUrl == "true") || (!string.IsNullOrWhiteSpace(Model.VideoUrl) && !videoExist);
    bool leftPartExist = TitleExist || ThemeTitleExist || SummaryExist || DescriptionExist || (btnNameExist && btnUrlExist);
    bool rightPartExist = themeImageExist || videoExist || videoUrlExist;
    string bgColorStyle = bgColorExist ? $"style=background-color:{Model.BackgroundColor};" : string.Empty;
}

@if (leftPartExist || rightPartExist)
{
    <div class='@cssClass @((bgColorExist && !rightPartExist) ? "p-5" : string.Empty)' @bgColorStyle>
        <div class="row">
            <div class='@((themeImageExist || videoExist || videoUrlExist) ? "col-md m-nr-30": "col-12")'>
                <div class="@(rightPartExist ? "p-5 parent-height" : string.Empty)">
                    @if (TitleExist)
                    {
                        <h2 class="text-uppercase text-secondry text-bold" @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Title</h2>
                    }
                    @if (ThemeTitleExist || SummaryExist)
                    {
                        <p class='fs-inherit @(DescriptionExist ? "mb-0" : string.Empty)'>
                            <span @Html.InlineEditingFieldAttributes("ThemeTitle", "ShortText") class='text-bold text-primary @(!SummaryExist ? "mr-1 d-inline-block" : string.Empty) @(TitleExist ? "h3" : "bigger-para")'>@Model.ThemeTitle</span>
                            @if (SummaryExist)
                            {
                                <span class='@(!ThemeTitleExist ? "d-inline-block" : string.Empty)' @Html.InlineEditingFieldAttributes("Summary", "ShortText")>@Html.HtmlSanitize(Model.Summary)</span>
                            }
                        </p>
                    }
                    @if (DescriptionExist)
                    {
                        <div class="fs-inherit" @Html.InlineEditingFieldAttributes("Description", "LongText")>@Html.HtmlSanitize(Model.Description)</div>
                    }
                    @if (btnNameExist && btnUrlExist)
                    {
                        <a class="btn btn-secondry text-uppercase text-bold" href="@Model.BtnUrl">@Model.BtnName</a>
                    }
                </div>
            </div>
            @if (rightPartExist)
            {
                <div class='col-md'>
                    @if (videoExist || videoUrlExist)
                    {
                        string url = videoUrlExist ? Model.VideoUrl : MediaContentExtensions.ResolveMediaUrl(Model.Video);
                        <a class="fancy-box" href="@url">
                            <div class="position-reletive scale-on-hover">
                                @if (themeImageExist)
                                {
                                    <img class="img-full" src="@MediaContentExtensions.ResolveMediaUrl(Model.Image)">
                                }
                                else
                                {
                                    <img class="img-full" src="~/ResourcePackages/Bootsrtap4/assets/dist/images/play-button-icon.png" />
                                }
                                <div class="with-play-btn"></div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <img class="img-full" src="@MediaContentExtensions.ResolveMediaUrl(Model.Image)">
                    }
                </div>
            }
        </div>
    </div>
}