﻿@model SitefinityWebApp.Mvc.ViewModels.ContentBannerViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Modules.Libraries;
@using SitefinityWebApp.Core.Helpers;
@using Telerik.Sitefinity.Services;

<div @Html.InlineEditingAttributes(null, "Telerik.Sitefinity.Pages.Model.PageDraftControl", System.Guid.Empty)>
    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
    <h2 @Html.InlineEditingFieldAttributes("Title", "ShortText")>
        @ASP.PartialExtensions.Partial(Html, "MarkdownItem", Model.Title)
    </h2>
    }
</div>
