﻿@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="General">
        <div class="form-group">
            <label for="contentBannerTemplateName">Template</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="contentBannerTemplateName" ng-model="properties.ListTemplateName.PropertyValue" ng-change="resetPropertiesValues()" class="form-control">
                        @foreach (var viewName in Html.GetViewNames("ContentBanner", @"Banner\.(?<viewName>[\w\s]*)$"))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Settings">
        <div class="form-group" ng-show="showField('Title')">
            <label>
                Title
            </label>
            <input type="text" class="form-control" ng-model="properties.Title.PropertyValue" />
        </div>
        <div class="form-group" ng-show="showField('ThemeTitle')">
            <label>
                Theme colored title
            </label>
            <input type="text" class="form-control" ng-model="properties.ThemeTitle.PropertyValue" />
        </div>
        <div class="form-group" ng-show="showField('TitleMuted')">
            <label>
                Title Muted
            </label>
            <input type="text" class="form-control" ng-model="properties.TitleMuted.PropertyValue" />
        </div>
        <div class="form-group" ng-show="showField('Summary')">
            <label>
                Summary
            </label>
            <textarea ng-model="properties.Summary.PropertyValue" class="form-control"></textarea>
        </div>
        <div class="form-group" ng-show="showField('LinkName')">
            <label>
                Link Name
            </label>
            <input type="text" class="form-control" ng-model="properties.LinkName.PropertyValue" />
        </div>
        <div class="form-group" ng-show="showField('LinkUrl')">
            <label>
                Link Url
            </label>
            <input type="text" class="form-control" ng-model="properties.LinkUrl.PropertyValue" />
        </div>
        <div class="form-group" ng-show="showField('VideoUrl')">
            <label>
                Video Url
            </label>
            <input type="text" class="form-control" ng-model="properties.VideoUrl.PropertyValue" />
        </div>
        <div class="form-group" ng-show="showField('Image')">
            <label for="image-field" class="m-top-sm">Image</label>
            <sf-image-field class="sf-Media--info modal-settings modal-settings-space"
                            sf-model="properties.ImageId.PropertyValue"
                            sf-image="properties.selectedImage"
                            id="image-field"
                            sf-media-settings="@SettingsHelpers.GetMediaSettings("Image")"></sf-image-field>
        </div>
        <div ng-show="showField('Video')" class="form-group">
            <label class="m-top-sm">Video</label>
            <sf-media-field class="sf-Media--info modal-settings"
                            sf-model="properties.Video.PropertyValue"
                            sf-media-type="videos"
                            sf-provider="properties.ProviderName.PropertyValue"
                            sf-media-settings="@SettingsHelpers.GetMediaSettings("Video")"></sf-media-field>
            <div ng-show="properties.Video.PropertyValue"><input type="checkbox" ng-false-value="'false'" ng-true-value="'true'" ng-checked="properties.UseBackgroundVideo.PropertyValue=='true'" ng-model="properties.UseBackgroundVideo.PropertyValue"/> Display full-width banner video</div>
        </div>
    </uib-tab>
</uib-tabset>
